body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: url(sheep.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;
    height: auto;
}

main {
    padding: 1em 3em;
    margin: 1em 4em;
}
sub {
    display: block;
    color: #333;
}
input {
    margin: .5em 0 1em;
}
input[type='number'] {
    border: 1px solid rgb(13, 128, 181);
    padding: .5em;
}
input[type='button'] {
    background-color: rgb(13, 128, 181);
    border: none;
    color: #FFF;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.highlight {
    font-weight: bold;
    font-size: 1.5em;
}